body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: #f4f4f4;
}

.top-nav {
    background-color: white;
    color: #fff;
    padding: 10px 0;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo1 {
    width: 150px;
    height: auto;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    color: grey;
    text-decoration: none;
    padding: 10px;
}

.navbar ul li a:hover {
    color: black;
}

.search-container {
    position: relative;
}

.search-container input[type="text"] {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.icon {
    display: flex;
    align-items: center;
    margin-left: 10px; 
    cursor: pointer;
}

.icon img {
    font-size: 20px;
    margin-right:20px; 
    color:grey; 
}

.steps {
    text-align: center;
    margin-bottom: 20px;
}

.step {
    display: inline-block;
    margin: 0 10px;
    color: #bbb;
}

.step.active {
    color: #333;
}

.address-container {
    background: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 20px auto;
    width: 50%;
}

.address {
    border-bottom: 1px solid #eee;
    padding: 10px;
    position: relative;
}

.name-tag {
    font-size: 16px;
    font-weight: bold;
}

.tag {
    background: #ddd;
    padding: 2px 5px;
    border-radius: 4px;
    margin-left: 10px;
}

.remove {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
}

.add-new {
    text-align: center;
    padding: 20px;
}

.add-button {
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
}

.navigation {
    text-align: center;
    margin-top: 50px;
}

.back, .next {
    width: 500px;
    padding: 10px 20px;
    margin: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

.back {
    background-color: #ccc;
}
